/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');


/* CSS variables */
:root {
    --primary-font: "Hanken Grotesk", sans-serif;
    --primary-color: #000; /* black */
    --secondary-color: #ffffff; /* white */
    --highlight-color: #AC3331; /* red */
    --highlight-color-light: #b98f88; /* pale red */
}

/* Global styles */
body {
    font-family: var(--primary-font);
    color: var(--secondary-color);
    background-color: var(--primary-color);
}


/* Tagline banner */
.tagline-banner {
    background-color: var(--highlight-color);
    text-align: center;
    padding: 30px 10px; /* top/bottom and left/right */
}


/* Upcoming live shows section */
.live-shows {
    color: var(--primary-color);
    background-color: #ffffff;
}

/* Artist card layout */
.artist-card {
  display: flex;
  flex-direction: row;
  align-items: center;  
  border-radius: 0; /* removes rounded corners */
  padding: 2rem;
  background-color: var(--highlight-color);
  color: var(--secondary-color);
  border-color: var(--highlight-color-light);
  border-width: 3px;
  transition: box-shadow 0.3s ease; /* smooth animation for hover shadow */
}

/* Artist card hover effect */
.artist-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* shadow on hover */
}

/* Artist image sizing */
.artist-image {
  width: 180px;
  height: 180px;
  object-fit: cover;

}
