/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');


/* CSS variables */
:root {
    --primary-font: "Hanken Grotesk", sans-serif;
    --primary-color: #000; /* black */
    --secondary-color: #ffffff; /* white */
    --highlight-color: #AC3331; /* red */
    --highlight-color-light: #b98f88; /* pale red */
}

/* Global styles */
body {
    font-family: var(--primary-font);
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

/* Video header */
.video-header-container {
  max-height: 500px; /* setting max height */
  overflow: hidden;
}

.video-header-container video {
  height: 100%;
  width: 100%;
  object-fit: cover; /* ensuring the video covers entire container despite max height */
}

/* Tagline banner */
.tagline-banner {
    background-color: var(--highlight-color);
    text-align: center;
    padding: 30px 10px;
    font-weight: bold;
    font-size: 2.5rem;   
    text-transform: uppercase;
}

/* Upcoming live shows section */
.upcoming-live-shows-section {
    color: var(--primary-color);
    background-color: #ffffff;
}

/* Target the h1 inside the Upcoming Live Shows section */
.upcoming-live-shows-section h1 {
  font-weight: bold;
  font-size: 2.5rem;   
  text-transform: uppercase;
}

/* Artist card layout */
.artist-card {
  display: flex;
  flex-direction: row;
  align-items: center;  
  border-radius: 0; /* removes rounded corners */
  padding: 2rem;
  background-color: var(--highlight-color);
  color: var(--secondary-color);
  border-color: var(--highlight-color-light);
  border-width: 3px;
  transition: box-shadow 0.3s ease; /* smooth animation for hover shadow */
}

/* Artist card hover effect */
.artist-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* shadow on hover */
    background-color: var(--secondary-color);
    color: var(--highlight-color);
    border-color: var(--highlight-color-light);
}

/* Artist image sizing */
.artist-image {
  width: 180px;
  height: 180px;
  object-fit: cover;

}

/* Book tickets button */
.book-tickets-button {
    background-color: var(--highlight-color);
    color: var(--secondary-color);
    border-color: var(--highlight-color-light);
    font-weight: bold;  
    font-size: 1.5rem;
    text-transform: uppercase;
    border-width: 3px;
    border-radius: 0; /* removes rounded corners */
    transition: box-shadow 0.3s ease; /* smooth animation for hover */
}

/* Book tickets button hover effect */
.book-tickets-button:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* shadow on hover */
    background-color: var(--secondary-color);
    color: var(--highlight-color);
    border-color: var(--highlight-color-light);
}

/* Subscribe banner */
.subscribe-banner {
    background-color: var(--highlight-color);
    color: var(--secondary-color);
    border-color: var(--highlight-color-light);
}

/* Subscribe banner button */
.subscribe-banner-button {
    background-color: var(--secondary-color);
    color: var(--highlight-color);
    border-color: var(--highlight-color-light);
    font-weight: bold;  
    font-size: 1rem;
    text-transform: uppercase;
    border-width: 3px;
    border-radius: 0; /* removes rounded corners */
    transition: box-shadow 0.3s ease; /* smooth animation for hover */
}

/* Subscribe banner button hover effect */
.subscribe-banner-button:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* shadow on hover */
    background-color: var(--highlight-color);
    color: var(--secondary-color);
    border-color: var(--highlight-color-light);
}