/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');


/* CSS variables */
:root {
    --primary-font: "Hanken Grotesk", sans-serif;
    --primary-color: #000000; /* black */
    --secondary-color: #ffffff; /* white */
    --highlight-color: #9F2F2D; /* red */
    --highlight-color-light: #b98f88; /* pale red */
}

/* Global styles */
body {
    font-family: var(--primary-font);
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

h1, h2, h5 {
    font-weight: bold;
    text-transform: uppercase;
}

.form-control,
.form-select {
    border-radius: 0; /* removes rounded corners */
}

/* Nav bar */
#navbar {
    background-color: var(--primary-color);
    font-family: var(--primary-font);
    font-weight: bold;
    text-transform: uppercase;
}

#navbar .nav-link {
    color: var(--secondary-color);
    transition: color 150ms ease, border-color 150ms ease;
}

#navbar .nav-link:hover {
    color: var(--highlight-color-light);
    border-bottom-color: var(--highlight-color-light);
}

/* Video header */
.video-header-container {
  max-height: 500px; /* setting max height */
  overflow: hidden;
}

.video-header-container video {
  height: 100%;
  width: 100%;
  object-fit: cover; /* ensuring the video covers entire container despite max height */
}

/* Tagline banner */
.tagline-banner {
    background-color: var(--highlight-color);
    text-align: center;
    padding: 30px 10px;
    font-size: 2.5rem;   
}

/* Sections of pages with white background */
.white-background-section {
    color: var(--primary-color);
    background-color: #ffffff;
}

.white-background-section h1 {
  font-size: 2.5rem;   
}

/* Artist card layout - used on Home and Live Shows page "*/
.artist-card {
  display: flex;
  flex-direction: row;
  align-items: center;  
  border-radius: 0; /* removes rounded corners */
  padding: 2rem;
  background-color: var(--highlight-color);
  color: var(--secondary-color);
  border-color: var(--highlight-color-light);
  border-width: 3px;
  transition: box-shadow 0.3s ease; /* smooth animation for hover shadow */
}

.artist-image {
  width: 180px; /* Artist image sizing */
  height: 200px;
  margin-top: 20px;
  object-fit: cover;
}

/* Responsive map on Home page */
.responsive-map {
    width: 100%;
    height: 300px;
}


/* Buttons */
.white-button {
    background-color: var(--secondary-color);
    color: var(--highlight-color);
    border-color: var(--highlight-color-light);
    font-weight: bold;  
    font-size: 1rem;
    text-transform: uppercase;
    border-width: 3px;
    border-radius: 0; /* removes rounded corners */
    transition: box-shadow 0.3s ease; /* smooth animation for hover */
}

.white-button:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* shadow on hover */
    background-color: var(--highlight-color);
    color: var(--secondary-color);
    border-color: var(--highlight-color-light);
}

.btn.disabled,
.btn:disabled {
  color: #fff !important; /* overrides disabled button Bootstrap class to ensure that writing is readible */
  border: 1px solid #fff !important;
  background-color: transparent !important;
  opacity: 1 !important;
  pointer-events: none;
}

.black-button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-color: var(--highlight-color-light);
    font-weight: bold;  
    font-size: 1.5rem;
    text-transform: uppercase;
    border-width: 3px;
    border-radius: 0; /* removes rounded corners */
    transition: box-shadow 0.3s ease; /* smooth animation for hover */
}

.black-button:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* shadow on hover */
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-color: var(--highlight-color-light);
}

/* Subscribe banner */
.subscribe-banner {
    background-color: var(--highlight-color);
    color: var(--secondary-color);
    border-color: var(--highlight-color-light);
}

/* Footer section */
.footer-section {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    line-height: 1;
    margin-bottom: 0.25rem;
    font-size: 0.85rem;
}

/* Footer section social media links*/
.social-media-links a {
    color: var(--primary-color);
    font-size: 1.6rem;
    padding: 10px;
    transition: 0.3s ease; /* smooth animation for hover */
}

.social-media-links a:hover {
    color: var(--highlight-color);
}


/* Media queries */

/* Small devices (mobile, 768px and below) */
@media screen and (max-width: 768px) {
    /* Make Information section text center on small devices */
    .info-background-section {
        text-align: center;
    }
    
    /* Center artist image at top of artist cards (Home & Live Shows pages) on small devices */
    .artist-card .row {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

/* Medium devices (tablets, 768px and up to 992px) */
@media screen and (max-width: 992px) {
    /* Center artist image at top of artist cards (Home & Live Shows pages) on medium devices */
    .artist-card .row {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}